#main-landing-section {
    min-height: 100vh;
}

/* Left in here in case we need a video as background. 
A new video HTML element will need to be added too */
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
    opacity: 1;
}

.descriptor-buttons {
    border: 0;
    border-radius: 0;
    font-size: x-large;
    font-weight: bolder;
}

#intro-button {
    background-color: var(--lime);
}

#history-button {
    background-color: var(--green);
}

#what-we-do-button {
    background-color: var(--yellow);
}

header a {
    color: whitesmoke
}

header a:hover {
    color: orange
}



