* {
    /* border: 1px solid black; */
    color: var(--pink);
    box-sizing:border-box;
}

html { 
    background: url("/img/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    background-color: var(--blue);
    border-left: 5px var(--pink) dashed;
    border-right: 5px var(--lime) dashed;
    min-height: 300vh;
}

#navbar-logo {
    width: 50px;
    height: 50px;
}
#logo {
    background-color: white;
}

#mattermost-button {
    background-color: #1e325c;
    color: white;

}

#facebook-button {
    background-color: #4267B2;
    color: white;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
    opacity: 1;
}

.descriptor-buttons {
    border: 0;
    border-radius: 0;
    font-size: x-large;
    font-weight: bolder;
}

#intro-button {
    background-color: var(--lime);
}

#history-button {
    background-color: var(--green);
}

#what-we-do-button {
    background-color: var(--yellow);
}