:root {
    --pink: #f9b4ab;
    --yellow: #fdebd3;
    --blue: #264e70;
    --green: #679186;
    --lime: #bbd4ce;
    --links: orange;
}

* {
    /* border: 1px solid black; */
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6,
p, small,
thead, tbody, th, tr, td,
label, input,
ul, ol, li,
span, cite, figcaption {
    color: var(--pink)
}

footer p, footer span {
    color: var(--blue);
    font-size: large;
    font-weight: bold;
}


html { 
    background: url("./img/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    background-color: var(--blue);
    border-left: 5px var(--pink) dashed;
    border-right: 5px var(--lime) dashed;
}

#main-footer {
    background-color: var(--green);
    color: var(--blue);
}

.bold-text {
    font-weight: bold;
}

#announcement-top {
    border-radius: 15px 15px 30px 5px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

header a {
    color: whitesmoke
}

a:hover {
    color: var(--links)
}

.custom-button {
    background-color: var(--lime);
    color: var(--blue);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.custom-button:hover {
    background-color: var(--yellow);
    transform: scale(1.1)
}

