:root {
    --pink: #f9b4ab;
    --yellow: #fdebd3;
    --blue: #264e70;
    --green: #679186;
    --lime: #bbd4ce;
}

* {
    /* border: 1px solid black; */
    color: var(--pink);
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}

html { 
    background: url("/img/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    background-color: var(--blue);
    border-left: 5px var(--pink) dashed;
    border-right: 5px var(--lime) dashed;
}

#main-footer {
    background-color: var(--green);
    color: var(--blue);
}

.bold-text {
    font-weight: bold;
}

#announcement-top {
    border-radius: 15px 15px 30px 5px;
}